.nav {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: #d1d1d1;
}

.pageLogo {
    position: relative;
    margin-bottom: 10px;
}

.pageLogo h1 {
    color: #454545;
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
    font-style: italic;
}

.pageLogo p {
    color: #454545;
    position: absolute;
    right: 0;
    margin-top: -15px;
    font-family: 'Pacifico', cursive;
}



.buscarCiudad {
    background: #454545;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 42px;
    border-radius: 10px;
    padding: 5px;
}

.buscarCiudad input {
    height: 100%;
    background: #d1d1d1;
    border-radius: 5px;
    border: none;
    max-width: 175px;
    font-size: 1.15em;
}

.buscarCiudad input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.buscarCiudad i {
    margin: 5px;
}

.buscarCiudad i:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .nav {
        flex-direction: column;
    }

    .buscarCiudad {
        margin-top:20px;
    }
}