@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
user-select: none;
}


html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-image: url('https://picsum.photos/id/870/1280/768?grayscale&random=1');
  background-size: cover;
  background-attachment: fixed;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

@media (max-width: 700px) {
  body {
    background: red;
  }
}